/* Global Styles */
*
{
    margin: 0;
}
body {
background-color:#1E5359;
}
img {
display: block;
margin: auto;
border: solid 4px #B7A371;
width: 100%;
border-radius: 15px;
padding: 5px ;

}
hr{
    border: 2px solid #B7A371;
    margin: 20px 0;
}
.history_aside { 
    display: flex;
    justify-content: center;
    background-color: #DAF3ED;
    
    
}
.costume_aside {
    display: flex;
    justify-content: center;
    background-color: #DAF3ED;
}
h3 {
    text-align: center;
    margin: 3% 0;
}
h4 {
    text-align: center;
    margin: 3% 0;
}

a {
color:#0D0D0D; }


h2 {
    color: #0D0D0D;
    text-align: center;
    margin: 20px 0;
    padding: 15px;
}

a:hover {
    text-decoration: none;
}
/* Mobile Styles */
@media only screen and (min-width: 300px){
#container {
    padding: 10px;
    border: 4px solid ;
}
nav {
    text-align: center;
}   
nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: block;
}
nav li a {
    display: block;
    background-color: #1E5359;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    font-size: 25px ;
    margin: 15px 0;
    border-radius: 8px;
    
}
nav li a:hover {
    background-color:
 #DAF3ED;
}
main {
    padding: 10px;
    margin: 10px;
}
header
{ text-align: center;
padding: 2%;
border-bottom: 4px solid #B7A371;
border-top: 4px solid #B7A371;
font-size: 200%;}

.main_content {
    background-color: #DAF3ED;
    padding: 10%;
    border-radius: 2%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.col {
    margin: 20px 0 ;
}
.col img {
    border: solid 4px #B7A371;
    border-radius: 8px;
}
footer {
    text-align: center;
    font-size: 14px;
    padding: 20px;
    border-top: 3px solid #B7A371;
}
iframe {
    display: block;
    margin:  20px auto;
    border: solid 4px #B7A371;
    border-radius: 8px;
    width: 65%;
    height: 450px;

}
}
/* tablet styles */
@media only screen and (min-width: 600px) {
    nav {
        padding: 10px 50px;
    }
    nav li {
        display: inline-block;
        margin: 0 15px;
    }
    nav li a {
        display: inline-block;
        width: 150px;
        height: 40px;
    }
}
.col img {
    width: 65%
}
footer {
    text-align: center;
    font-size: 14px;
    padding: 20px;
    border-top: 3px solid #B7A371;
}

/* Desktop styles */
@media only screen and (min-width: 1025px) {} #container {
    width: 65%;
    margin: 20px auto;
    background-color: #91B8BD;
}

.col{
    border: 2px solid #1E5359;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
}
.col img {
    width: 100%
}
.col h5 {
    text-align: center;
}
.multi_col {
    display: flex;
    justify-content: space-between;

}
section, aside {
    border: 2px solid #DAF3ED;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;

    
}
.home_aside {
    width: 30%
}
.costume_aside {
    display: flex;
    align-self: center;
    width: 30%;
    height: 45%

    
}
footer {
    text-align: center;
    font-size: 14px;
    padding: 20px;
    border-top: 4px solid #B7A371;
}