body {
    background-color: #4D6768;
}
img{
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 4px solid #A47B4F;
    border-radius: 10px;
}
a {
    color:#B8A390;
}
a:hover {
    color: #A47B4F; 
    text-decoration: none;
}
#container{
    background-color: #314039;
    width: 65%;
    margin: 20px auto;
    border: 4px solid #A47B4F;
    padding: 20px;
    border-radius: 20px;
}
header{
    text-align: center;
     padding: 25px;
     border-bottom: 2px solid #A47B4F;
}
header h1{
    font-size: 50px;
    color: #B8A390; 
    text-shadow: #000000 2px 2px 4px;   
}
nav {
    text-align: center; border-bottom: 2px solid #A47B4F;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline-block;
}
nav li a {
display: block;
background-color: #730220;
color: #B8A390;
width: 200px;
height: 50px;
line-height: 50px;
font-size: 24px;
border-radius: 15px;
text-decoration: none;
border: 2px solid #A47B4F;
margin: 15px;

}
nav li a:hover {
    background-color: #A47B4F;
    color: #314039;
}
main h2 {
    text-align: center;
    color :#B8A390;
}
.multi_col {
    display: flex;
}
section, aside {
  background-color: #A47B4F;
    color: #314039;
    margin: 20px;  
    padding: 20px;
}
section{
    width: 70%;
}
aside{
    width: 25%;
}
section img{
    border-radius: 10px;
    border: 4px solid #730220;
    width: 80%;
}
footer {
    padding: 40px 0;
    text-align: center;
}
.img_style {
    width: 75%;
    border-radius: 10px;
    border: 4px solid #730220;
    box-shadow: 2px 2px 5px #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}
hr {
    border: 2px solid #730220;
    margin: 20px 0;
}
iframe {
    display:block;
    margin: 0 auto;
    border-radius: 10px;
    border: 4px solid #730220;
    box-shadow: 2px 2px 5px #000000;
}
.contact_info {
    text-align: center;
    color: #B8A390;
    font-size: 20px;
    
}
h2{
    color: #B8A390;
}
