/* Global Styles */
* {
    margin: 0;
}
body { 
    background-color: #47593F;
}

img {
    display: block;
    margin: auto;
    width: 100%;
}
a {
    color:#0D0D0D;
    
}
a:hover {
    text-decoration: none;
}
/* Mobile Styles */

#container {
    padding:  10px;
    border: 4px solid 
#8FA285;
    
}
nav {
    text-align: center;

}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: block;
    
}
nav li a {
    display: block;
    background-color:
#8FA285;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 0;
    border-radius: 8px;
}
    
nav li a:hover {
    background-color: #75764A;
}
main{
    padding: 10px;
    margin: 10px;
}

.main_content {
    background-color: #D9E4DD;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.col {
    margin: 10px 0;
    border: 2px solid #8FA285;
    border-radius: 8px;
}