/* Global Styles */
* {
    margin: 0;
}
body { 
    background-color: #47593F;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    
}
a {
    color:#0D0D0D;
    
}
a:hover {
    text-decoration: none;
}
/* Mobile Styles */

#container {
    padding:  10px;
    border: 4px solid 
#8FA285;
    
}
nav {
    text-align: center;

}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: block;
    
}
nav li a {
    display: block;
    background-color:
#8FA285;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 0;
    border-radius: 8px;
}
    
nav li a:hover {
    background-color: #75764A;
}
main{
    padding: 10px;
    margin: 10px;
}

.main_content {
    background-color: #D9E4DD;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.col {
    margin: 20px 0;
}

.col img {
border:  solid #8FA285;
    border-radius: 8px;
}

footer
{
    padding: 40px;
    text-align: center;


}
iframe {
    display: block;
    margin: 20px auto;
    width: 65%;
    height: 450px;
    border: 4px solid #8FA285;
    border-radius: 8px;
}



/* tablet styles */
@media only screen and (min-width: 600px) {
    nav {
        padding: 10px 50px;
    }
    nav li {
        display: inline-block;
        margin: 0 15px;
    }
    nav li a {
        display: inline-block;
        width: 150px;
        height: 40px;
    }
}
.col img {
    width: 65%;

}

/* Desktop styles */
@media only screen and (min-width: 1025px) {}
    #container {
        width: 65%;
        margin: 20px auto;
        background-color: #5B6B50;
    }
    
   .past_works{
        display: flex;
       
    }
    .col{
        border: 2px solid #8FA285;
        margin: 5px;
        padding: 10px;
        border-radius: 10px;

        
    }
    .col img {
        width: 100%;
    }
    .col h5 {
        text-align: center;
    }
    .multi_col {
        display: flex;
        justify-content: space-between;
    }
    section, aside {
        border: 2px solid #8FA285;
        margin: 5px;
        padding: 10px;
        border-radius: 10px;
    }
    .home_section
    {
        width: 70%;
    }

    .home_aside {
        width: 30%;
        background-color: #D9E4DD;
    }